@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Quicksand", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #10403b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #127369;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5cbbb1;
}
